*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 80vw;
}

.navcontainer{
    display: flex;
    padding:1.5rem 0;
    justify-content: space-between;
    align-items: center;
}

.header{
    font-size: 2rem;
    font-weight:900;
    color: rgb(2, 28, 107);
    text-shadow: 2px 2px 3px rgb(159, 69, 69);
  
}

#navbar1{
   display: none;
   gap: 1.3rem;
   font-size: 1.4rem;
   padding-top: 3px;
   text-shadow: 1px 1px 2px rgb(51, 44, 44);

}

@media screen and (min-width:868px) {
    #navbar1{
        display: flex;
    }
}


#navbar1 a{
   color: rgb(91, 85, 85);
   transition: all 0.2s ;
}

#navbar1 a:hover{
    color: #331ce2;
    transform: scale(1.1);
}

#navbar1 a:active{
   transform: scale(0.9); 
}

#btn{
    display: none;
    background-color:rgb(16, 45, 149);
    color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    text-shadow: ;
    box-shadow: inset 2px 1px 6px rgb(12, 142, 242), 4px 4px 5px rgb(99, 0, 99);
    transition: all 0.1s;
}

@media  screen and (min-width:868px) {
    #btn{
        display: block;
    }
}

#btn:hover{
    background:rgb(7, 26, 101);
    
}

#btn:active{
   transform: scale(0.9);
}

.menu-btn{
  display: none;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1rem;
   padding: 0.6rem 1rem;
   font-weight: 600;
}

@media  screen and (max-width:868px) {
    .menu-btn{
        display: block;
    }
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.maincontent{
  
}

.content1{
  display: flex;
  flex-direction:column ;
  padding: 2rem;
  text-align: center; 
  gap: 1.5rem;
}

.leftcontent{
    display: flex;
    flex-direction: column;
   gap: 0.5rem;
}

#leftpara1{
    color: #170a7b;
    font-size: 1.1rem;
}

#heading{
    font-size: 2rem;
    font-weight: 900;
}

#leftpara2{
    color: rgb(45, 43, 43);
    font-size: large;
}

.btn-grp{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#startbtn{
    background-color:rgb(16, 45, 149);
    color: #f9f7f7;
    padding: 0.6rem 1rem;
    border-radius: 5px;
     box-shadow: inset 2px 1px 6px rgb(12, 142, 242), 4px 4px 5px rgb(99, 0, 99);
}

#startbtn:active,
#tourbtn:active{
   transform: scale(0.9);
}

#tourbtn{
    background-color: #3a3737;
     color: #f9f7f7;
    padding: 0.6rem 1rem;
    border-radius: 5px;
     box-shadow: inset 2px 1px 6px rgb(12, 142, 242), 4px 4px 5px rgb(99, 0, 99);
}
.rightcontent{
    border: none;
    box-shadow: 0px 4px 8px rgb(0, 0, 0,0.1);
    height: 50vh;
}
img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
     overflow: hidden;

}