*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: linear-gradient(90deg, #b6b4ad 0%, #b799da 100%);

}
.container{
    margin: 0 auto;
    width: 80vw;
   
}

.navcontainer{
    display: flex;
    padding:1.5rem 0;
    justify-content: space-between;
    align-items: center;
}

.header{
    font-size: 3.5rem;
    font-weight:900;
    color: #0a076b ;
    text-shadow: 2px 2px 3px rgb(159, 69, 69);
  
}

#navbar1{
   display: flex;
   gap: 1.3rem;
   font-size: 1.4rem;
   padding-top: 3px;
   text-shadow: 1px 1px 2px rgb(51, 44, 44);

}

@media screen and (max-width:868px) {
    #navbar1{
        display: none;
    }

    .header{
        font-size: 2rem;
    }
}

@media screen and (max-width:1110px) and (min-width:868px) {
    .header{
        font-size: 2.4rem;
    }
    
}


#navbar1 a{
   color: rgb(91, 85, 85);
   transition: all 0.2s ;
}

#navbar1 a:hover{
    color: #331ce2;
    transform: scale(1.1);
}

#navbar1 a:active{
   transform: scale(0.9); 
}

#btn{
    display: none;
   background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    text-shadow: 5px 4px 3px rgb(31, 3, 40) ;
    box-shadow: inset 2px 1px 6px rgb(12, 142, 242), 4px 4px 5px rgb(99, 0, 99);
    transition: all 0.1s;
     font-size: 1.1rem;
     border: 1px solid rgb(204, 187, 156);
}

@media  screen and (min-width:868px) {
    #btn{
        display: block;
    }
}

#btn:hover{
    background:linear-gradient(90deg, #120d94 0%, #0aeb82 100%);
    
}

#btn:active{
   transform: scale(0.9);
}

.menu-btn{
  display: none;
  border: none;
  border-radius: 5px;
   background:linear-gradient(60deg, #f0f0e8ac 10%, #fcfcfcba 90%);
  font-size: 1rem;
   padding: 0.6rem 1rem;
   font-weight: 600;
   box-shadow: inset 2px 1px 6px rgb(250, 250, 250), 4px 4px 5px rgb(99, 0, 99);
}

.menu-btn:active{
   transform: scale(0.9);
}

.menu-btn:hover{
    background:linear-gradient(60deg, #e0e0cbac 10%, #fff5f5ba 90%); 
}

@media  screen and (max-width:868px) {
    .menu-btn{
        display: block;
    }
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.content1{
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.6rem;
  align-items: center;
  margin: 0 auto;
}

.leftcontent{
   text-align: center;
   animation: slideFromLeft 1s ease forwards;
   opacity: 0;
}

@keyframes slideFromLeft {
    
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
#leftpara1{
    color: #170a7b;
    font-size: 1.1rem;
}

#heading{
    font-size: 2rem;
    font-weight: 900;
    padding: 1.1rem;
    color: rgb(39, 42, 48);
    text-shadow: 2px 3px 5px  rgb(61, 47, 47);

}

#leftpara2{
    color: rgb(45, 43, 43);
    font-size: large;
}

.btn-grp{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-shadow: 1px 1px 2px rgb(100, 99, 107) ;
}

#startbtn{
    background: linear-gradient(60deg, #1912de 0%, #10f48a 100%);
    color: #f9f7f7;
     text-shadow: 5px 4px 3px rgb(31, 3, 40) ;
    padding: 0.6rem 1rem;
    border: 1px solid rgb(204, 187, 156);
    border-radius: 5px;
     box-shadow: inset 2px 1px 6px rgb(12, 142, 242), 4px 4px 5px rgb(99, 0, 99);
}

#tourbtn{
   border: 1px solid wheat;
    box-shadow: inset 2px 1px 6px rgb(194, 225, 248), 4px 4px 5px rgb(99, 0, 99);
    color: #19570e;
    padding: 0.6rem 1rem;
    text-shadow: 1px 1px 2px rgb(58, 10, 74) ;
    border-radius: 5px;
    /* background: linear-gradient(80deg, #fff306ec 10%, #42ff4fba 90%); */
}

#startbtn:hover,
#tourbtn:hover{
    opacity: 0.8;
}

#startbtn:active,
#tourbtn:active{
   transform: scale(0.9);
}

.rightcontent{
     display: flex;
   align-items: center;
   justify-content: center;
    padding-top: 2rem;
}

.section-image{
    border: none;
    border-radius: 50%;
    overflow: hidden;
    height: 50vh;
    transition: all 0.6s ease-in-out;
    animation: spin 6s linear infinite;  
}  

@keyframes spin {
  from {
    transform: rotate(0deg);
    
  }
  to {
    transform: rotate( 360deg);
  }
}


.right-img{
     border-radius: 50%;
   height: 50vh;
   width: 50vh;  

}

@media  screen and (min-width:868px) {
    .content1{
        flex-direction: row;
    }

    .leftcontent{
        max-width: 50%;
         text-align: left;
    }

    #heading{
        padding-left: 0;
    }

    .btn-grp{
        justify-content: start;
    }

    #heading{
        font-size: 3.8rem;
    }

    #leftpara2{
        width: 80%;
    }
    
   .right-img{
       height: 100%;
       width: 100%;  
    }

}


.content2{
    margin: 4rem auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    animation: slideFromLeft 1s ease forwards;
}

#content2-heading {
    font-size: 1.7rem;
    font-weight: 900;
    color: rgb(39, 42, 48);
    text-shadow: 1px 1px 3px rgb(61, 47, 47);
}

.company-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgb(200, 200, 200);
    padding: 2rem 2rem;
    background:#B0C4DE;
    box-shadow: inset 1px 2px 5px rgb(255, 255, 255), 4px 4px 5px rgb(99, 0, 99);
    border-radius: 20px;
    
}


@media  screen and (min-width:868px) {
    .company-grid{
        grid-template-columns: repeat(4, 1fr); 
    }

    #content2-heading {
        font-size: 2.5rem;
    }

}

.company-logo{
    height: 2rem;
    width: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
}

.company-name{
    color: rgb(30, 104, 138);
    font-weight: 400;
}

.content3{
    margin: 4rem auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    background: linear-gradient(90deg, #b7b4a8 0%, #bca3da 100%);
    padding: 3rem;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 1px 2px 5px rgb(255, 255, 255);
    border: 1px solid wheat;
}


.content3:hover{
    box-shadow:  inset 1px 2px 5px rgb(255, 255, 255),4px 4px 6px rgba(99, 0, 99, 0.3) ;
    transition: all 0.4s ease-in-out;
    transform: translateX(3px) translateY(-3px);
}


.content3-header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#content3-heading{
    font-size: 1.7rem;
    font-weight: 900;
    color: rgb(39, 42, 48);
    text-shadow: 1px 1px 3px rgb(61, 47, 47);
}

#content3-para{
    color: rgb(45, 43, 43);
    font-size: 1.1rem;
    text-align: center;
    max-width: 750px;
}

@media  screen and (min-width:868px) {
    #content3-heading {
        font-size: 2.1rem;
    }

    #content3-para{
        font-size: 1.2rem;
    }
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

@media  screen and (min-width:868px) {
    .features-grid{
        grid-template-columns: repeat(2, 1fr); 
    }
}

.feature-card{
    padding: 1rem;
    border-radius: 6px;
    height: 100%;
    width:90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
      transition: all 0.5s ease-in-out;
    box-shadow: inset 1px 2px 5px rgb(255, 255, 255);
    border: 1px solid wheat; 
}

.feature-card:hover{
    box-shadow:  inset 1px 2px 5px rgb(255, 255, 255),4px 4px 6px rgba(99, 0, 99, 0.3) ;
    transition: all 0.4s ease-in-out;
    transform: translateX(3px) translateY(-3px);
        cursor: pointer;

}

#card1{
    background: linear-gradient(90deg, #4a8edb 0%, #8ca2eb 100%);
}

#card2{
    background: linear-gradient(90deg, #ec7179 0%, #ebb5b9 100%);
   
}

#card3{
    background: linear-gradient(90deg, rgb(248, 186, 72) 0%, #f5e6a8 100%);
   
}

#card4{
    background: linear-gradient(90deg, #098f8f 0%, #ade5e8 100%);
}

#card5{
    background: linear-gradient(90deg, #3d9602 0%, #c0fc9f 100%);
}

#card6{
    background: linear-gradient(90deg, #ad36ed 0%, #f9b0e5 100%);
}

.feature-icon{
    height: 3rem;
    width: 3rem;
    background: #ffffff;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(41, 9, 9);
    transition: all 0.4s ease-in-out;
   border: 1px solid rgb(156, 140, 110);
}

.feature-icon:hover{
    box-shadow: 4px 6px 5px rgb(41, 9, 9);
    transition: all 0.3s ease-in-out;
    transform: translate(2px,-2px) scale(1.2);
    cursor: pointer;
}


.feature-title{
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
}

.feature-description{
    font-size: 1rem;
    color: #f0f0f0;
    text-align: center;
    max-width: 95%;
  padding-top: 8px;
 
}

.content4{
   margin: 4rem auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    background: linear-gradient(90deg, #b7b4a8 0%, #bca3da 100%);
    padding: 3rem;
    border: 1px solid wheat;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 1px 2px 5px rgb(255, 255, 255);
}


.content4:hover{
    box-shadow:  inset 1px 2px 5px rgb(255, 255, 255),4px 4px 6px rgba(99, 0, 99, 0.3) ;
    transition: all 0.4s ease-in-out;
    transform: translateX(3px) translateY(-3px);
}


#content4-heading{
    font-size: 1.7rem;
    font-weight: 900;
    color: rgb(39, 42, 48);
    text-shadow: 1px 1px 3px  rgb(61, 47, 47);
}


.testimonial-section{
    display: flex;
     flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}


@media  screen and (min-width:868px) {
    #content4-heading {
        font-size: 2.1rem;
    }
     .testimonial-section{
      flex-direction: row; 
   }
}

#testimonial-cards{
   background: linear-gradient(90deg, #b6b4ad 0%, #b799da 100%);
   padding: 1rem;
   border: 1px solid wheat;
   border-radius: 9px;
   transition: all 0.5s ease-in-out;
   box-shadow: inset 1px 2px 5px rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.4rem;
}


#testimonial-cards:hover{
    box-shadow:  inset 1px 2px 5px rgb(255, 255, 255),4px 4px 6px rgba(99, 0, 99, 0.3) ;
    transition: all 0.4s ease-in-out;
    transform: translateX(3px) translateY(-3px);
    cursor: pointer;
}

#testimonial-cards p{
    max-width: 95%;
    text-align: center;
}

#image4{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    border: 1px solid wheat;
    box-shadow: 2px 2px 5px rgb(41, 9, 9, 0.4);
}

#image4:hover{
     box-shadow:  inset 1px 2px 5px rgb(255, 255, 255),4px 4px 6px rgba(99, 0, 99, 0.3) ;
    transition: all 0.4s ease-in-out;
    transform: translateX(2.5px) translateY(-2.5px) scale(1.5);
    cursor: pointer;

}


#name4{
    font-size: 1.1rem;
    font-weight: bolder;
    max-width: 50%;
    color: #862b31;
    text-shadow: 2px 2px 3px rgb(244, 236, 236);
}

.teacher-name span{
  font-size: 1.1rem;
}

.newsletter{
    margin-bottom: 2rem;
    /* height: 25rem; */
    display: flex;
    gap: 4rem;
    align-items: center;
     margin-bottom: 3rem;
    border-radius: 1rem;
   transition: all 0.4s ease-in-out;
     border: 1px solid wheat;
    box-shadow: inset 1px 2px 5px rgb(255, 255, 255);
     background: linear-gradient(90deg, #b7b4a8 0%, #bca3da 100%);
}

.newsleft{
    height: 25rem;
    
}
.newsleft img{
 height: 48.3vh;   
 width:100%;
 object-fit: contain;
 border-bottom-left-radius: 1rem;
 border-top-left-radius: 1rem;
 /* height: 100%; */
}
.newsright{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#news1{
    font-size: 2.5rem;
    color: rgb(39, 42, 48);
    text-shadow: 1px 1px 3px rgb(61, 47, 47);
}

.newsright p{
    font-size: 1.2rem;
    color: rgb(18, 16, 16);
}

.newsright a{
    text-decoration: underline;
}
#email{
    border: none;
    font-size: 1.2rem;
    padding: 0.6rem;
    border-radius: 3px;
    background: #eadede;
    color:  rgb(39, 42, 48);
}

.newsright button{
   background: linear-gradient(60deg, #1912de 0%, #10f48a 100%);
    color: #f9f7f7;
     text-shadow: 5px 4px 3px rgb(31, 3, 40) ;
    padding: 0.6rem 1rem;
    border: 1px solid rgb(204, 187, 156);
    border-radius: 5px;
    width: 6rem;
    height: 2.6rem;
    margin-left: 2rem;
    font-size: 1.2rem;
     box-shadow: inset 2px 1px 6px rgb(12, 142, 242), 4px 4px 5px rgb(99, 0, 99);
} 

.newsright button:hover{
    opacity: 0.9;
    cursor: pointer;  
}

.newsright button:active{
    scale: 0.9;
}

.newsletter:hover{
   box-shadow:  inset 1px 2px 5px rgb(255, 255, 255),4px 4px 6px rgba(99, 0, 99, 0.3) ;
    transition: all 0.4s ease-in-out;
    transform: translateX(3px) translateY(-3px);
}

@media  screen and (max-width:868px) {
    .newsletter {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .newsleft{
        width: 100%;
        height: auto;
    }

    .newsleft img{
        height: auto;   
        width: 70%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
    }
    .newsright{
        margin: 2rem 1rem;
    }
}
.footer-section{
   height: 60rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
   transition: all 0.4s ease-in-out;
     border: 1px solid wheat;
    box-shadow: inset 1px 2px 5px rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-section:hover{
     box-shadow:  inset 1px 2px 5px rgb(255, 255, 255),4px 4px 6px rgba(99, 0, 99, 0.3) ;
    transition: all 0.4s ease-in-out;
    transform: translateX(3px) translateY(-3px);
    cursor: pointer;

}


.footer-top{
    height: 20rem;;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 2rem;
    line-height: 3rem;
}


.footer-logo-link{
    font-size: 1.6rem;
    font-weight: 900;
    text-shadow: 1px 1px 3px rgb(61, 47, 47);
}


.footer-logo{
    height: 1.4rem;
    width: auto;
    margin-right: 0.5rem;
}

.filler-text{
    font-size: 1.2rem;
    font-weight: 450;
    color: rgb(76, 75, 75);
    text-shadow: 1px 1px 2px rgb(61, 47, 47);
}

.socials{
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.social-link img{
    height: 1.5rem;
    width: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.social-link img:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem 0;
}

#footercopyright{
    height: 2rem;
    width: 100%;
    background: #ddd0d0;
    padding: 1rem;
    display: flex;
   justify-content: center;
    align-items: center;
}