*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
     background:linear-gradient(90deg, #f4fc02 0%, #3ad59f 100%);
}
.container{
    margin: 0 auto;
    width: 80vw;
   
}

.navcontainer{
    display: flex;
    padding:1.5rem 0;
    justify-content: space-between;
    align-items: center;
}

.header{
    font-size: 3.5rem;
    font-weight:900;
    color: #0a076b ;
    text-shadow: 2px 2px 3px rgb(159, 69, 69);
  
}

#navbar1{
   display: flex;
   gap: 1.3rem;
   font-size: 1.4rem;
   padding-top: 3px;
   text-shadow: 1px 1px 2px rgb(51, 44, 44);

}

@media screen and (max-width:868px) {
    #navbar1{
        display: none;
    }

    .header{
        font-size: 2rem;
    }
}

@media screen and (max-width:1110px) and (min-width:868px) {
    .header{
        font-size: 2.4rem;
    }
    
}


#navbar1 a{
   color: rgb(91, 85, 85);
   transition: all 0.2s ;
}

#navbar1 a:hover{
    color: #331ce2;
    transform: scale(1.1);
}

#navbar1 a:active{
   transform: scale(0.9); 
}

#btn{
    display: none;
   background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    text-shadow: 5px 4px 3px rgb(31, 3, 40) ;
    box-shadow: inset 2px 1px 6px rgb(12, 142, 242), 4px 4px 5px rgb(99, 0, 99);
    transition: all 0.1s;
     font-size: 1.1rem;
}

@media  screen and (min-width:868px) {
    #btn{
        display: block;
    }
}

#btn:hover{
    background:linear-gradient(90deg, #120d94 0%, #0aeb82 100%);
    
}

#btn:active{
   transform: scale(0.9);
}

.menu-btn{
  display: none;
  border: none;
  border-radius: 5px;
   background:linear-gradient(60deg, #f0f0e8ac 10%, #fcfcfcba 90%);
  font-size: 1rem;
   padding: 0.6rem 1rem;
   font-weight: 600;
   box-shadow: inset 2px 1px 6px rgb(250, 250, 250), 4px 4px 5px rgb(99, 0, 99);
}

@media  screen and (max-width:868px) {
    .menu-btn{
        display: block;
    }
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.content1{
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.6rem;
  align-items: center;
  margin: 0 auto;
}

.leftcontent{
   text-align: center;
   animation: slideFromLeft 1s ease forwards;
   opacity: 0;
}

@keyframes slideFromLeft {
    
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
#leftpara1{
    color: #170a7b;
    font-size: 1.1rem;
}

#heading{
    font-size: 2rem;
    font-weight: 900;
    padding: 1.1rem;
}

#leftpara2{
    color: rgb(45, 43, 43);
    font-size: large;
}

.btn-grp{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-shadow: 1px 1px 2px rgb(100, 99, 107) ;
}

#startbtn{
    background: linear-gradient(60deg, #1912de 0%, #10f48a 100%);
    color: #f9f7f7;
     text-shadow: 5px 4px 3px rgb(31, 3, 40) ;
    padding: 0.6rem 1rem;
    border-radius: 5px;
     box-shadow: inset 2px 1px 6px rgb(12, 142, 242), 4px 4px 5px rgb(99, 0, 99);
}

#tourbtn{
   border: 1px solid rgb(16, 45, 149);
    box-shadow: inset 2px 1px 6px rgb(194, 225, 248), 4px 4px 5px rgb(99, 0, 99);
    color: #19570e;
    padding: 0.6rem 1rem;
    border-radius: 5px;
}

#startbtn:hover,
#tourbtn:hover{
    opacity: 0.8;
}

#startbtn:active,
#tourbtn:active{
   transform: scale(0.9);
}

.rightcontent{
     display: flex;
   align-items: center;
   justify-content: center;
    padding-top: 2rem;
}

.section-image{
    border: none;
     border-radius: 25px;
   overflow: hidden;
    box-shadow: 0px 4px 8px rgba(66, 63, 63, 0.8);
   height: 50vh;
}
.right-img{
   height: 100%;
   width: 100%;  
}

@media  screen and (min-width:868px) {
    .content1{
        flex-direction: row;
    }

    .leftcontent{
        max-width: 50%;
         text-align: left;
    }

    #heading{
        padding-left: 0;
    }

    .btn-grp{
        justify-content: start;
    }

    #heading{
        font-size: 3.8rem;
    }

    #leftpara2{
        width: 80%;
    }
}


.content2{
    margin: 4rem auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
     justify-content: center;
        align-items: center;
    gap: 2rem;
    animation: slideFromLeft 1s ease forwards;
}

#content2-heading {
    font-size: 1.7rem;
    font-weight: 900;
    color: rgb(39, 42, 48);
    text-shadow: 1px 1px 3px rgb(61, 47, 47);
}

.company-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgb(200, 200, 200);
    padding: 2rem 2rem;
   background:#B0C4DE;
    box-shadow: inset 1px 2px 5px rgb(255, 255, 255), 4px 4px 5px rgb(99, 0, 99);
    border-radius: 20px;
    
}


@media  screen and (min-width:868px) {
    .company-grid{
        grid-template-columns: repeat(4, 1fr); 
    }

    #content2-heading {
        font-size: 2.5rem;
    }

}

.company-logo{
    height: 2rem;
    width: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
}

.company-name{
    color: rgb(30, 104, 138);
    font-weight: 400;
}
